# Auto detect text files and perform LF normalization
* text=auto
C:/Users/usuario/UceninMusical filter=lfs diff=lfs merge=lfs -text
Packages/com.ptc.vuforia.engine-10.10.2.tgz filter=lfs diff=lfs merge=lfs -text
